<div class = "d-flex justify-content-center">
    <h1> Latest Bids </h1>
</div>
<a class="btn btn-primary" href="<%= new_product_bid_path(product_id: params[:product_id]) %>" role="button">Make a Bid</a>


<table class="table table-bordered">
  <thead>
    <tr>
    <th>Product Name</th>
    <th>Latest Price</th>
    <th>Ending Time</th>
    <th>Quantity</th>
    <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%@sortbids.each do |bid| %>
      <tr>
        <td><%= bid.product.name %></td>
        <td><%= bid.current_bid %></td>
        <td><%= bid.user_id %></td>
        <td><%= bid.product.quantity %></td>
        <td><%= bid.status %></td>
      </tr>
    <%end%>
  </tbody>
</table>


