<div class="card mt-5 mb-5">
  <div class="card-body">
    <h2 class="text-center"> Your Live Items</h2>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Product Name</th>
    <th>Starting Price</th>
    <th>Quantity</th>
    <th>Highest Bid</th>
    <th>Edit Your Item Info</th>
    <th>Delete Item</th>
    </tr>
  </thead>
  <tbody>
    <%@products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.starting_bid %></td>
        <td><%= product.quantity %></td>
        <td><%= Bid.maximum(:current_bid) %></td>
        <td><%= link_to "Edit" , edit_product_path(product),class:"btn btn-primary"%></td>
        <td><%= link_to "Delete" ,product_path(product),class:"btn btn-danger",method: :delete,data:{confirm:"Deleting this item will stop the proccess of Bidding. Are you sure you want to delete?"}%></td>
      </tr>
    <%end%>
  </tbody>
</table>
